body {
    background-image: url('bg2.jpg');
    background-size: cover;
    background-attachment: fixed;
     /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    max-height: 100vh; /* Optional: Ensures the container has at least the height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
    margin: 0;
  padding: 0;
  }